#raiz{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(122, 12, 150);
    text-align: center;
    width: 250px;
    margin: auto;
    background-color: rgb(251, 246, 255);
    border-radius: 4px;
}
input{
    border-radius: 15px;
    font-size: large;
    width: 80px;
    text-align: center;
}
button{
    background-color: rgb(228, 170, 243);
    border-radius: 15px;
    width: 180px;
    font-size: large;
}
body{
    background-color: rgb(152, 126, 212);
}
    
#imagem{
position: fixed;
bottom: 0px;left: 240px;
}
#outraimg{
    position: fixed;
    bottom: 0px;right: 200px;
    width: 400px;
}